[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
duckdb = "*"
lxml = "*"
mwparserfromhell = "*"
bs4 = "*"
joblib = "*"
igraph = "*"
python-dateutil = "*"
sqlalchemy = "*"
requests = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
